.grid-container{
    display: inline-grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    background-color: #bbada0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

body{
    background-color: #faf8ef;
}

.tile-0{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-2{
    background-color: #eee4da;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-4{
    background-color: #eee1c9;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-8{
    color: white;
    background-color: #f3b27a;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-16{
    color: white;
    background-color: #f69664;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-32{
    color: white;
    background-color: #f77c5f;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-64{
    color: white;
    background-color: #f75f3b;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-128{
    color: white;
    background-color: #edd073;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-256{
    color: white;
    background-color: #edd073;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-512{
    color: white;
    background-color: #edc950;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-1024{
    color: white;
    background-color: #edc950;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-2048{
    color: white;
    background-color: #edc951;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}
