.wrapper{
    display: inline-block;
    height: 450px;
}

.game-name{
    display: block;
    font-size: 64px;
    color: #80542b;
    margin-left: 5px;
}

.new-game-btn{
    color: white;
    background-color: #bbada0;
    border-radius: 5px;
    margin-left: 50px;
    font-size: 32px;
    border-color: #80542b;
}

.grid-container{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    background-color: #bbada0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

body{
    background-color: #faf8ef;
}

.tile-0{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-2{
    background-color: #eee4da;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-4{
    background-color: #eee1c9;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-8{
    color: white;
    background-color: #f3b27a;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-16{
    color: white;
    background-color: #f69664;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-32{
    color: white;
    background-color: #f77c5f;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-64{
    color: white;
    background-color: #f75f3b;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-128{
    color: white;
    background-color: #edd073;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-256{
    color: white;
    background-color: #edd073;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-512{
    color: white;
    background-color: #edc950;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-1024{
    color: white;
    background-color: #edc950;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

.tile-2048{
    color: white;
    background-color: #edc951;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}
